*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
.nav{
    background-color: rgb(158, 21, 144);
    display: flex;
    justify-content: space-between;
}


.right{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dropdown{
    display: none;
   
    position: absolute;
    top: 55px;
    right: -8px;
   
}
#dp:hover{
    background-color: rgb(82, 53, 53);

}
#dp:hover .dropdown{
    display: block;
    position: relative;
    
}
.op{
    background-color: rgb(109, 102, 102);
    height: 40px;
    width: 90px;
  padding:10px;

}
.op:hover{
    background-color: blue;
}